<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"/>
    <link href="src/css/styles.css" rel="stylesheet"/>
    <script src="src/js/script.js" type="module"></script>
    <title>OBA Junior [genre]</title>
  </head>
  <body>
    <header>
      <h1>voorgestelde boeken binnen [genre]</h1>
    </header>
    <main>
      <section>
      <img src="[wherever die omslagfoto vandaan komt]">
      <h2>[bookTitle]</h2>
      <h3>[auteur]</h3>
      <p>[description]</p>
      </section>
    </main>
  </body>
</html>
