/* BASE */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #f2f9fc;
}

body {
}

header {
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  background-color: pink;
  margin: 1vw;
}

article {
}

span {
}

blockquote {
}

h1 {
  font-size: 3rem;
  font-family: "Nunito", sans-serif;
  font-variant: small-caps;
  color: #d8127d;
}

h2 {
  font-family: "Nunito", sans-serif;
  color: #00a3da;
}

h3 {
}

p {
}

img {
}

/* LAYOUT */

/* MODULES */
.genre{
  max-width: 10vw;
  padding: 1vw;

}
/* STATE */

/* THEME */
