/* BASE */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #f2f9fc;
}

body {
  margin: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: block;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
}

section {
  background-color: #812c7c;
  margin: 1vw;
  padding: 0vw 1vw;
  align-items: center;
  width: 15vw;
  max-width: 20vw;
  display: flex;
  flex-direction: column;
}

article {
}

span {
}

blockquote {
}

h1 {
  font-size: 3rem;
  font-family: "Nunito", sans-serif;
  font-variant: small-caps;
  color: #d8127d;
}

h2 {
  font-size: 2vw;
  font-family: "Nunito", sans-serif;
  color: #00a3da;
}

h3 {
}

p {
}

img {
  margin: 0vw 1vw 1vw 1vw;
  max-width: 10vw;
  align-self: center;
  border-style: solid;
  border-color: rgb(26, 26, 26, 0.5);
  border-width: 0.1rem;
  padding: 0rem 0.4rem 0.4rem 0.4rem;
}

/* LAYOUT */

/* MODULES */
.genre{
  width: 10vw;

}
/* STATE */

/* THEME */
